@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
}

header {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #73bc7e;
}

header span {
    margin-left: auto;
}

strong {
    font-weight: bold;
}

nav {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 0 1rem 0;
    border-bottom: 3px solid #73bc7e;
    font-weight: bold;
}

a {
    color: #73bc7e;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 2rem;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #1a1a1a;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th {
    font-weight: bold;
}

th, td {
    padding: 0.5rem;
}

td a {
    text-decoration: underline;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
}

input[type="submit"] {
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    background-color: #73bc7e;
    border: 0;
    cursor: pointer;
}

input[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
}

footer {
    margin-top: 3rem;
    border-top: 1px solid black;
    font-size: 0.75rem;
}
