{% extends "layout.html" %}

{% block head_extra %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/multi-select-dropdown-js/MultiSelect.min.css">
{% endblock %}

{% block content %}

<h1>Projekt erstellen</h1>

<form method="post" action="projektneu.html">
    <p>
        <label for="name">Name: </label>
        <input type="text" name="name" value="" size="30" maxlength="50" placeholder="Name">
    </p>
    <p>
        <label for="klasse_min">ab Klasse: <small>Gib nur Zahlen ein (E=11, Q1=12, Q2=13)</small></label>
        <input type="number" name="klasse_min" value="5" size="30" maxlength="50" placeholder="ab Klasse">
    </p>
    <p>
        <label for="klasse_max">bis Klasse: <small>Gib nur Zahlen ein (E=11, Q1=12, Q2=13)</small></label>
        <input type="number" name="klasse_max" value="13" size="30" maxlength="50" placeholder="bis Klasse">
    </p>
    <p>
        <label for="lehrkraft">verantworlich: </label>
        <select name="lehrkraft" id="cars" multiple>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
    </p>
    <p>
        <label for="plaetze_min">min. Teilnehmerinnen/Teilnehmer: </label>
        <input type="number" name="plaetze_min" value="5" size="30" maxlength="50" placeholder="min. Teilnehmerinnen/Teilnehmer">
    </p>
    <p>
        <label for="plaetze_max">max. Teilnehmerinnen/Teilnehmer: </label>
        <input type="number" name="plaetze_max" value="30" size="30" maxlength="50" placeholder="max. Teilnehmerinnen/Teilnehmer">
    </p>
    <p>
        <label for="beschreibung">Projektbeschreibung: </label>
        <textarea name="beschreibung" rows="20" placeholder="Projektbeschreibung"></textarea>
    </p>
		  
    <input type="submit">
</form>

{% endblock %}
