{% extends "layout.html" %}

{% block content %}

<h1>Projektübersicht</h1>

<form action="{{ url_for('wahl') }}" method="post">
    <table border=1>
        <tr>
            <th>Projekt</th>
            <th>Klassen</th>
            <th>1. Wahl</th>
            <th>2. Wahl</th>
            <th>3. Wahl</th>
        </tr>
        {% for p in liste %}
            <tr>
                <td><a href="{{ url_for('projekt', pid=p.pid) }}">{{p.name}}</a></td>
                <td>{{p.klasse_min}}-{{p.klasse_max}}</td>
                <td><input type="radio" name="wahl1" value="{{p.pid}}" {{ "disabled" if has_choice }}></td>
                <td><input type="radio" name="wahl2" value="{{p.pid}}" {{ "disabled" if has_choice }}></td>
                <td><input type="radio" name="wahl3" value="{{p.pid}}" {{ "disabled" if has_choice }}></td>
            </tr>
        {% endfor %}
    </table>
    <div class="wahl">
        {% if has_choice %}
        <div style="display:none">
        {% endif %}
        <h2>Deine Auswahl:</h2>
        <ol>
            <li>Wahl 1</li>
            <li>Wahl 2</li>
            <li>Wahl 3</li>
        </ol>
        {% if has_choice %}
        </div>
        <br>
        {% endif %}
        <input type="submit" value="wählen" {{ "disabled" if has_choice }}>
        {% if has_choice %}
            <small>Du hast bereits gewählt</small>
        {% endif %}
    </div>
</form>

<script type="text/javascript" src="{{url_for('static', filename = 'wahl.js')}}"></script>
{% endblock %}
