{% extends "layout.html" %}

{% block content %}

<h1>Projektübersicht</h1>

<form action="wahl.html" method="post">
    <table border=1>
        <tr>
            <th>Projekt</th>
            <th>Klassen</th>
            <th>1. Wahl</th>
            <th>2. Wahl</th>
            <th>3. Wahl</th>
        </tr>
        {% for p in liste %}
            <tr>
                <td><a href="projekt.html?pid={{p.pid}}">{{p.name}}</a></td>
                <td>{{p.klasse_min}}-{{p.klasse_max}}</td>
                <td><input type="radio" name="wahl1" value="pid-{{p.pid}}"></td>
                <td><input type="radio" name="wahl2" value="pid-{{p.pid}}"></td>
                <td><input type="radio" name="wahl3" value="pid-{{p.pid}}"></td>
            </tr>
        {% endfor %}
    </table>
    <div class="wahl">
        <h2>Deine Auswahl:</h2>
        <ol>
            <li>Wahl 1</li>
            <li>Wahl 2</li>
            <li>Wahl 3</li>
        </ol>
        <input type="submit" value="wählen">
    </div>
</form>

<script type="text/javascript" src="{{url_for('static', filename = 'wahl.js')}}"></script>
{% endblock %}
